<div class="flex flex-column flex-grow-1">
  <div class="flex flex-row gap-3 justify-content-center">
    <h2 class="flex">{{"Available Services" | transloco}}</h2>
    <p-button class="flex align-content-center" variant="text" (onClick)="addService.emit()">{{"Add Service" | transloco}}</p-button>
  </div>
  <div class="flex flex-row gap-3 justify-content-center">
      <input type="text" pInputText placeholder="{{'Search' | transloco}}" 
        [(ngModel)]="searchFilter"
        aria-label="Search" 
        aria-describedby="search" 
        aria-required="false" 
        aria-invalid="false" 
        [pAutoFocus]="true"
      />
  </div>
  <ul>
    @for (service of itemList(); track service.id) {
      <li>
        <!-- <ngx-swipe-menu [swipeLeftActions]="actionList" [minSwipeDistance]="20" [data]="service"> [swipeLeftActionLabel]="'Edit'|transloco" [swipeRightActionLabel]="'Delete'|transloco" -->
        <ng-template #serviceItem>
          <app-service-item 
            [service]="service"
            [tokensMap]="tokensMap"
            [tokensDuration]="tokensDuration"
            (deleteService)="deleteService.emit($event)"
            (editService)="editService.emit($event)"
            (copyToken)="copyToken.emit($event)"
            (itemChange)="totpItemsChange.emit(totpItems())"
          />
        </ng-template>
        @if (isMobile()) {
        <ngx-swipe-menu 
          [enableSwipeLeft]="true" [enableSwipeRight]="true"
          swipeLeftActionIcon="pi pi-pencil" swipeRightActionIcon="pi pi-trash"
          [showSwipeLeftActions]="false" [showSwipeRightActions]="false" 
          (swipeLeftDefaultAction)="onSwipeLeft(service)" (swipeRightDefaultAction)="onSwipeRight(service)"
          [data]="service"
        >
          <ng-template #actions>
            <div class="flex flex-row gap-2">
              <div class="ng-swipe-action-button ng-swipe-action-button-remove">
                <p-button severity="danger" icon="pi pi-trash" />
              </div>
              <div class="ng-swipe-action-button ng-swipe-action-button-edit">
                <p-button severity="success" icon="pi pi-pencil" />
              </div>
            </div>
          </ng-template>
          <ng-component [ngTemplateOutlet]="serviceItem"></ng-component>
        </ngx-swipe-menu>
        } @else {
          <div class="ngx-swipe-menu-content">
            <ng-component [ngTemplateOutlet]="serviceItem"></ng-component>
          </div>
        }
      </li>



    }
  </ul>
</div>
