<div class="flex flex-column flex-grow-1">
  <div class="flex flex-row gap-3 justify-content-center">
    <h2 class="flex">{{"Available Services" | transloco}}</h2>
    <p-button class="flex align-content-center" variant="text" (onClick)="addService.emit()">{{"Add Service" | transloco}}</p-button>
  </div>
  <ul>
    <li *ngFor="let service of totpItems | keyvalue">
      <!-- <ngx-swipe-menu [swipeLeftActions]="actionList" [minSwipeDistance]="20" [data]="service.value"> [swipeLeftActionLabel]="'Edit'|transloco" [swipeRightActionLabel]="'Delete'|transloco" -->
      <ngx-swipe-menu 
        [enableSwipeLeft]="true" [enableSwipeRight]="true"
        swipeLeftActionIcon="pi pi-pencil" swipeRightActionIcon="pi pi-trash"
        [showSwipeLeftActions]="false" [showSwipeRightActions]="false" 
        (swipeLeftDefaultAction)="onSwipeLeft(service.value)" (swipeRightDefaultAction)="onSwipeRight(service.value)"
        [data]="service.value"
      >
        <ng-template #actions>
          <div class="flex flex-row gap-2">
            <div class="ng-swipe-action-button ng-swipe-action-button-remove">
              <p-button severity="danger" icon="pi pi-trash" />
            </div>
            <div class="ng-swipe-action-button ng-swipe-action-button-edit">
              <p-button severity="success" icon="pi pi-pencil" />
            </div>
          </div>
        </ng-template>
        @let token = tokensMap.get(service.value.id)?.token || '';
        <div class="flex gap-3 justify-content-around align-items-center service-item">
          <div class="flex service-item-logo">
            @if (service.value.icon) {
              <p-avatar [image]="service.value.icon" size="xlarge" shape="circle" />
            } @else {
              <p-avatar [label]="service.value.issuer[0]" size="xlarge" shape="circle" />
            }
          </div>
          <div class="flex flex-grow-1 align-items-start service-item-name flex-column">
            <span class="service-name text-xl">{{ service.value.name }}</span>
            <span class="service-issuer text-sm">{{ service.value.issuer }}</span>
          </div>
          @if (tokensMap.has(service.value.id)) {
            <div class="flex gap-2 align-items-center service-item-token"
              (click)="copyToken.emit(token)" (keypress)="copyToken.emit(token)" aria-hidden="true"
              pRipple
            >
              <strong class="flex align-items-center">
                {{ token?.substr(0, 3) }}
                {{ token?.substr(3) }}
              </strong>
              @if (tokensDuration.has(service.value.id)) {
                <span class="flex flex-shrink-1 align-items-center">
                  <p-knob [readonly]="true" class="flex align-items-center" max="30" min="0" [ngModel]="tokensDuration.get(service.value.id)" size="45" />
                </span>
              }
            </div>
          }
        </div>
      </ngx-swipe-menu>
    </li>
  </ul>
</div>
