::ng-deep app-service-list {
    display:flex;
}

::ng-deep .service-item {
    min-height: 100px;

    .service-item-name {
        max-width: 40vw;
        text-wrap: auto;
        word-wrap: anywhere;
        word-break: break-word;
    }

    .service-issuer {
        color: var(--p-text-muted-color);
    }

    .service-item-token {
        min-width: 10vw;
    }

    ::ng-deep p-avatar img {
        width: 90%;
        height: 90%;
    }

    ::ng-deep .p-avatar-image {
        background-color: var(--p-avatar-background);
    }
}

li {
    min-height: 100px;
    padding: 0px;
    width: 100%;

    &:hover {
        ::ng-deep .p-knob-text {
            fill: var(--p-primary-contrast-color);
        }

        .service-issuer {
            color: var(--p-primary-contrast-color);
        }
    }
}

:host {
    ::ng-deep .ngx-swipe-menu-content {
        border-radius: 10px;
        width: 100%;
        padding: 0;
        background-color: var(--p-primary-contrast-color);
        transition: transform .2s linear,
            box-shadow .2s linear,
            border-radius 0.5s linear;

        &:hover,
        &.active {
            background-color: var(--p-primary-500);
            color: var(--p-primary-contrast-color);
        }

        &:active {
            border-radius: 0;//10px 0 0 10px;
        }
    }
    
    ::ng-deep .ngx-swipe-menu {
        height: 100px !important;
        width: 100%;
        border-radius: 10px;

        &.open .ngx-swipe-menu-content {
            border-radius: 0;//10px 0 0 10px;
        }

        .ng-swipe-right-actions-container {
            background-color: var(--p-red-500);
            border-radius: 10px 0 0 10px;
    
            .pi {
                color: white;
            }
        }
        
        .ng-swipe-left-actions-container {
            background-color: var(--p-orange-500);
            border-radius: 0 10px 10px 0;
    
            .pi {
                color: white;
            }
        }
    }

    ::ng-deep .ng-swipe-actions-container {
        background-color: var(--p-yellow-500);
        border-radius: 0 10px 10px 0;
        right: 2px;
    }

    
}

.ng-swipe-action-button p-button {
    visibility: visible;
}

ul, li {
    list-style: none;
    padding: 0;
}
