<section class="container">
  <div class="flex flex-column">
    <!-- <div></div> -->
    @if (loadingServices()) {
      <div class="progress-spiner">
        <p-progress-spinner ariaLabel="loading" />
      </div>
    }
    @if (!totpItems.size) {
    <form [formGroup]="form" class="flex flex-grow-1 flex-column align-items-center" (ngSubmit)="onSubmit()">
      <p>
        {{"You need to enter your password to open your services file (or create a new one if none exists)" | transloco}}
      </p>
      <div>
        <input pInputText formControlName="password" type="password" [pAutoFocus]="true" [placeholder]="'Enter password' | transloco" />
        <p-button type="submit">{{"Submit" | transloco}}</p-button>
      </div>
    </form>
    }

    <div *ngIf="totpItems.size === 0 && showDialog()">
      <p>{{"No services found!" | transloco}}</p>
    </div>

    @if (totpItems.size > 0) {
      <app-service-list
        [totpItems]="totpItems"
        [tokensMap]="tokensMap"
        [tokensDuration]="tokensDuration"
        (addService)="showDialog.set(true)"
        (copyToken)="copyToken($event)"
        (editService)="editService($event)"
        (deleteService)="deleteService($event)"
      />
    }

  </div>
</section>

<app-service-add 
  [(visible)]="showDialog"
  [isMobile]="isMobile"
  (onScanQRCode)="scanQRCode($event)"
  (serviceUrlAdded)="onSubmitServiceUrl($event)"
/>

<app-service-edit
  [(visible)]="showEditDialog"
  [service]="selectedService"
  (serviceEdited)="onServiceEdit($event)"
/>

<app-service-delete
  [(visible)]="showDeleteDialog"
  (confirmDelete)="confirmDeleteService()"
  (cancelDelete)="cancelDeleteService()"
/>



<p-dialog [(visible)]="askForPasswordStorage" header="Login with fingerprint?" [modal]="true" #loginBiometrics>
  <p>
    {{"Do you want to login using your device biometric authentication?" | transloco}}
  </p>
  <div class="flex">
    <p-button severity="info" variant="text" [raised]="true" (onClick)="storePasswordWithBiometrics($event)">
      {{"Yes" | transloco}}
    </p-button>
    <p-button severity="help" variant="text" [raised]="true" (onClick)="loginBiometrics.close($event)">
      {{"No, keep typing password" | transloco}}
    </p-button>
  </div>
</p-dialog>
<p-toast position="bottom-left" />
