<p-dialog [(visible)]="visible" header="Add Service" [modal]="true">
  <p>
    {{"Choose to scan a QR code or paste a string to add a new service." | transloco}}
  </p>
  <div class="flex" *ngIf="!showURLInput()">
    <p-button severity="info" variant="text" [raised]="true" (onClick)="scanQRCode()" *ngIf="isMobile">
      {{"Scan QRCode" | transloco}}
    </p-button>
    <p-button severity="help" variant="text" [raised]="true" (onClick)="showURLInput.set(true)">
      {{"Paste URL" | transloco}}
    </p-button>
  </div>
  <ng-container *ngIf="showURLInput()">
    <p-card [header]="'Add service by URL' | transloco">
      <form [formGroup]="urlInput" (ngSubmit)="onSubmitServiceUrl()">
        <input type="text" pInputText formControlName="serviceUrl" [placeholder]="'Paste here the URL your service provided' | transloco" />
        <button type="submit" pButton severity="info">{{"Add Service" | transloco}}</button>
      </form>
    </p-card>
  </ng-container>
</p-dialog>
